@import '../../styles/variables.scss';
.input-element {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #5f9ea0;
  }
}
.header-component {
  font-family: $title-font;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $secondary-color;
  background-color: $tertiary-color;
  margin-bottom: 1rem;

  @include breakpoint-small {
    text-align: left;
  }

  .signup-button {
    @include button;
  }

  h1 {
    margin: 0.2rem 0;
    color: white;
    opacity: 0.8;
  }
}
